.App {
  text-align: center;
  background-image: url(https://images.unsplash.com/photo-1635776062764-e025521e3df3?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
  background-attachment:fixed;
  height: 100vh; /* Full height of the viewport */
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center;
}

.container {
  flex: 1; /* Allow the container to grow and take available space */
  margin-top: 4.5em; /* Adjust this based on your navbar height */
  overflow: hidden; /* Prevent content overflow from this container */
}
@media (min-width : 768px) {
  .container{
    margin-top: 6em;
  }
}

.home-frame {
  height: 100%; /* Adjust this based on your navbar height */
  overflow-y: auto; /* Enable vertical scrolling for the Home component */
  padding:0px 3px; /* Optional: Add some padding */
}
/* Hide scrollbar for Chrome, Safari, and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
* {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

/* Hide scrollbar for Firefox */
* {
  scrollbar-width: none; /* Firefox */
}
